/* This file will hold the information about the brand gide line */

.tasks--cart .cart--head {
    padding: var(--gs-common);
}

.tasks--cart .cart--head .enterpriseImage {
    width: 150px;
}
.details--page .cart--head .enterpriseImage {
    width: 250px;    
}
.details--page .cart--head img{
    height:auto;
}

.tasks--cart[data-enterprise_name="google"] .cart--head {
    background-color: var(--bg-google);
}

.tasks--cart[data-enterprise_name="google"] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name="ciscosystems"] .cart--head {
    background-color: var(--bg-ciscosystems);
}

.tasks--cart[data-enterprise_name="ciscosystems"] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name="appleinc."] .cart--head {
    background-color: var(--bg-appleinc);
}

.tasks--cart[data-enterprise_name="appleinc."] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name="meta(facebook)"] .cart--head {
    background-color: var(--bg-meta);
}

.tasks--cart[data-enterprise_name="meta(facebook)"] .cart--head .enterpriseImage {}


.tasks--cart[data-enterprise_name="netflix"] .cart--head {
    background-color: var(--bg-netflix);
}

.tasks--cart[data-enterprise_name="netflix"] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name="tesla"] .cart--head {
    background-color: var(--bg-tesla);
}

.tasks--cart[data-enterprise_name="tesla"] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name="airbnb"] .cart--head {
    background-color: var(--bg-airbnb);
}

.tasks--cart[data-enterprise_name="airbnb"] .cart--head .enterpriseImage {}


.tasks--cart[data-enterprise_name="tesla"] .cart--head {
    background-color: var(--bg-tesla);
}

.tasks--cart[data-enterprise_name="tesla"] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name="nike"] .cart--head {
    background-color: var(--bg-nike);
}

.tasks--cart[data-enterprise_name="nike"] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name="hdfcbank"] .cart--head {
    background-color: var(--bg-hdfcbank);
}

.tasks--cart[data-enterprise_name="hdfcbank"] .cart--head .enterpriseImage {
    width: 220px;
}

.tasks--cart[data-enterprise_name="microsoft"] .cart--head {
    background-color: var(--bg-microsoft);
}

.tasks--cart[data-enterprise_name="microsoft"] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name=""] .cart--head {
    background-color: var(--bg-google);
}

.tasks--cart[data-enterprise_name=""] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name=""] .cart--head {
    background-color: var(--bg-google);
}

.tasks--cart[data-enterprise_name=""] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name=""] .cart--head {
    background-color: var(--bg-google);
}

.tasks--cart[data-enterprise_name=""] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name=""] .cart--head {
    background-color: var(--bg-google);
}

.tasks--cart[data-enterprise_name=""] .cart--head .enterpriseImage {}

.tasks--cart[data-enterprise_name=""] .cart--head {
    background-color: var(--bg-google);
}

.tasks--cart[data-enterprise_name=""] .cart--head .enterpriseImage {}